.group {

    &--header {
        text-align: center;
        padding: @gutter_width * 4.5 0 @gutter_width 0;
        color: @color_white;
        background: @color_primary;
        background-position: top center;
        background-repeat: no-repeat;
        background-size: auto 140px;

        @media @minwidth_m {
            // padding-top: @gutter_width ;
        }

        &--title {
            .h2();
            color: @color_white;
            &:before {
                .h1();
                display: block;
            }
        }
        .-(@i: 1) when (@i < 8) {
            @color:		~"@{color_extra@{i}}";
            @c: @i - 1;

            body.group-no-@{i} & {
                background-color: @color;
                background-image: ~"url(../files/illustrations/group-0@{i}.svg)";
                &--title {
                    &:before {
                        content: "0@{i}";
                    }
                }
            }
            .-((@i + 1));
        } .-;
        body.group-no-6 & {
            background-image: ~"url(../files/illustrations/group-06.png)";
        }
        body.group-no-7.group-id-21 & {
            background-image: ~"url(../files/illustrations/group-07-b.svg)";
        }
    }

    &--intro {
        padding-top: @gutter;
        padding-bottom: @gutter;
        background: @color_white;

        @media @minwidth_m {
            padding-top: @gutter_width;
            padding-bottom: @gutter_width;
        }

        @media @minwidth_xxl {
            .center-min {
                position: static;
            }
        }
    }

    &--question-header {
        .group--index {
            .h2();
            font-weight: bold;
        }
        padding-left: 40px;

        @media @minwidth_xxl {
            padding-left: 0;
        }
    }

    .progress {
        border-top: 1px solid @color_grey;
        border-bottom: 1px solid @color_grey;
        padding: @gutter 0;
        margin-top: @gutter;

        @media @minwidth_m {
            margin-top: @gutter_width;
        }
    }
    .progress-bar {
        background: @color_primary;
        height: @gutter;
        color: #fff;
        font-size: @gutter;
        line-height: 1em;
        text-indent: 150%;
        overflow: hidden;
        white-space: nowrap;
    }

    &--description {
        .font(strong);
        padding: 0;
        margin-top: @gutter;

        * {
            .font(strong);
        }
    }
}
