.question-container {

    .col-sm-12 {
        .center-min();
        padding: 0 !important;
    }

    .questionvalidcontainer>*  {
        margin-top: @gutter_width;
    }
}

.question-title-container {
    background: @color_white;
    padding: @gutter;
    padding-top: 0;

    user-select: none;

    @media @minwidth_m {
        padding: @gutter_width;
        padding-top: 0;
    }
}

.answers-list {
    user-select: none;
    input, textarea {
        user-select: text;
    }

    .radio {
        padding: 0;
        margin: 0;
        margin-top: @gutter;

        @media @minwidth_m {
            margin-top: @gutter_width;
        }

        input {
            opacity: 0;
            position: absolute;
            top: -10em;
            left: -10em;

            + label {
                opacity: 0;
                position: absolute;
                width: 1px;
                height: 1px;
                overflow : hidden;
            }
        }

        .label-text {
            position: relative;
            display: block;
            background: @color_white;
            padding: @gutter @gutter_width;
            cursor: pointer;

            .no-touchevents & {
                &:hover {
                    background-color: @color_grey;
                }
            }
            .csstransitions & {
                .transition(~"background-color");
            }
        }

        input {
            &:focus {
                ~ div {
                    background-color: @color_grey;
                }
            }
            &:checked {
                ~ div {
                    background-color: @color_primary !important;
                    color: @color_white;

                    abbr {
                    	border-color: @color_white;
                    }
                }
            }
        }
    }
}
.answer-container {
    padding-left: @gutter;
    padding-right: @gutter;
    @media @minwidth_m {
        padding-left: @gutter_width;
        padding-right: @gutter_width;
    }
}
.question-help-container {
    padding: @gutter;
    @media @minwidth_m {
        padding: @gutter_width;
    }
}
.question-help {
    text-align: right;
    .font(-, s);
    color: @color_text_shade_d;
}

.question--navigator {
    .center();
    text-align: right;

    .jshide {
        display: none;
    }
    >.row {
        .center-min();
        padding: 0 !important;
    }

    #moveprevbtn,
    #clearall,
    #saveallbtn,
    #loadallbtn {
        background: transparent !important;
        padding: 0;
        margin: 0;
        min-width: 0;
        min-height: 0;
        display: inline;
        text-align: right;

        color: @color_text !important;
        text-decoration: underline;

        .font();
        outline: none;

        .ui-icon {
            display: none;
        }
        .no-touchevents & {
    		&:hover {
    	    	text-decoration: none;
    		}
        }
    }


    #movenextbtn,
    #movesubmitbtn {
        .forward();
    }
}

#index {
    display: none;
}
